- collection_is_for_current_user = (@user == current_user)
.row
  %h3
    - if collection_is_for_current_user
      Your Collection
      - link_box = capture_haml do
        %input{value: collection_url(id: @user.uid.to_i), disabled: true, size: 30}
      %button#share-link.btn.btn-default.btn-sm{type: 'button', data: {toggle: 'popover', content: link_box}, title: 'Use this link to share your collection with others.'}
        %i.fa.fa-share-alt
    - else
      #{@user.name}'s Collection

  - if @user.owned_games.present?
    = form_tag( collection_is_for_current_user ? my_collection_url : collection_url(user_id: @user.id), method: :get) do
      - platforms = @user.collection.possessions.select(:game_platform).order(game_platform: :asc).uniq.pluck(:game_platform)
      - preselected_choice = params[:platform].present? ? params[:platform] : "All platforms"
      .form-group.col-md-3
        = select_tag :platform, options_for_select(["All platforms"] + platforms, preselected_choice), class: "form-control"
    .row
      .col-md-12
        %table.table.table-striped.table-responsive.tablesorter
          %thead
            %tr
              %th
                Title
              %th
                Platform
              %th
                Date Added
              - if collection_is_for_current_user
                %th.remove-button
                  Remove
          %tbody.game-list
            - @user.owned_games.each do |game|
              = render 'games/collection_table_row', game: game
  - else
    .alert.alert-info
      - if collection_is_for_current_user
        You haven't added any games yet! Use the search box in the menu to find them.
      - else
        #{@user.name} hasn't added any games yet!
